@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,h2,h3,h4,p,span,a,input {
  font-family: 'Lato', sans-serif;
}

.general-container {
  width: 1300px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cart-container-icon > svg {
  color: black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.swiper-button-next, .swiper-button-prev {
  color: black !important; 
}

.swiper.swiper-initialized.swiper-horizontal {
  min-width: 100%;
}

.general-container.list-product-container {
  display: flex;
  max-width: 100vw;
  margin-left: -16px;
  margin-right: -16px;
}

.container-filters {
  width: 350px;
  margin-left: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.container-filters + div {
  width: calc(100% - 350px);
}

.container-filters + div .MuiGrid-container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.container-filters h4 {
  text-align: left;
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.filter-category {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.filter-category span {
  font-size: 12px;
}

p.filter-category__name {
  font-size: 14px;
  font-weight: bold;
}

.container-filters > div:nth-last-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button.button-filter-submit:hover {
  background: white;
  color: black;
}

button.button-filter-submit {
  margin-bottom: 10px;
  border-radius: 40px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  font-family: 'Lato';
  color: white;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.button-filter-clean {
  font-family: 'Lato';
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}


.col-cart-table__head {display: flex;border-bottom: 1px solid #ccc;}

.col-cart-table__head h2 {font-size: 14px;width: 20%;}

.cart-table__content {display: flex;}
.cart-table__content-img {width: 10% !important;}

.cart-table__content-title {width: 30%;}

.cart-table__content-price, .cart-table__content-quantity {width: 20%;}
.cart-table__content > div {display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #ccc;padding-bottom: 15px;}

.cart-table__content-title {flex-direction: column;}

.cart-footer {display: flex;justify-content: space-between;}

.cart-footer button {/* background: black; */}

.cart-checkout-details button {background: black;border-radius: 40px;text-transform: none;color: white;font-family: 'Lato';padding: 10px 20px;margin-top: 15px;font-size: 14px;}
h2.title-img-list {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
ul.MuiList-root a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.list-result-prods {width: 100%;display: block;float: left;}

.list-result-prods .card-item-container {width: calc(24% - 5px);margin-bottom: 10px;margin-right: 10px;float: left;min-width: 0px;/* margin: 0px; */overflow: hidden;box-sizing: border-box;}

.list-result-prods .card-item-container .card-item__img-box {height: 300px;}

.list-result-prods .card-item-container .card-item__img-box img {height: auto;}

.cart-table__content-img img {
  width: 100%;
}

form.form-contact {
  display: flex;
  flex-direction: column;
}

form.form-contact > div {
  margin-bottom: 15px;
}

form.form-contact button {
  background: black;
    border-radius: 40px;
    text-transform: none;
    color: white;
    font-family: 'Lato';
    padding: 10px 20px;
    /* margin-top: 15px; */
    font-size: 14px;cursor: pointer;}